{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <div style="max-width: max-content; margin: 3% auto auto;">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change password">
        </form>
        <div style="display: inline-block; width: 100%; text-align: left; margin-top: 4%">
            <a href="{% url 'profile' %}">
                <button>Go Profile</button>
            </a>
        </div>
    </div>
{% endblock %}