{% extends 'base.html' %}

{% block title %}Add Positions{% endblock %}

{% block content %}
    <div style="max-width: max-content; margin: 3% auto auto;">
        <div style="display: inline-block; width: 100%; text-align: right">
            <h2>Add Position</h2>
            <form method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
        <div style="display: inline-block; width: 100%; text-align: right; margin-top: 5%">
            <a href="{% url 'positions' %}">
                <button>Go Positions</button>
            </a>
        </div>
    </div>
{% endblock %}