{% extends 'base.html' %}

{% block title %}Registered Users{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 2%">
        <div class="card">
            <div class="card-header">
                <p class="text-center h5">
                    Registered Users
                </p>
            </div>
            <div class="card-body">
                <div class="table-responsive" style="text-align: center; max-height:550px;">
                    <table class="table table-striped table-hover" style=" min-width: 800px">
                        <thead>
                        <tr>
                            <th><b>#</b></th>
                            <th style="text-align: left">Username</th>
                            <th>x</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in registered_users %}
                            <tr>
                                <td style="width: 5%"><b>{{ forloop.counter }}</b></td>
                                <td style="text-align: left">{{ user.username }}</td>
                                <td>
                                    x
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}