{% extends 'base.html' %}

{% block title %}Registered Users{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 2%">
        <div class="card">
            <div class="card-header">
                <p class="text-center h5">
                    Registered Users
                </p>
            </div>
            <div class="card-body">
                <div class="table-responsive" style="text-align: center; max-height:550px;">
                    {# Users table (Staffs will not be visible on this table) #}
                    <table class="table table-striped table-hover" style=" min-width: 800px">
                        <thead>
                        <tr>
                            <th><b>#</b></th>
                            <th style="text-align: left">Username</th>
                            {# Deletion column is visible if the user is staff #}
                            {% if user.is_staff %}
                                <th>Deletion</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for reg_user in registered_users %}
                            <tr>
                                <td style="width: 5%"><b>{{ forloop.counter }}</b></td>
                                <td style="text-align: left">{{ reg_user.username }}</td>
                                {# Deletion column is visible if the user is staff #}
                                {% if user.is_staff %}
                                    <td>
                                        <form method="post">
                                            {% csrf_token %}
                                            <button type="submit" name="reg_user_id" value="{{ reg_user.id }}">Delete
                                            </button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}