{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 2%">
        <div class="card">
            <div class="card-header">
                <p class="text-center h5">
                    {% if user.is_authenticated %}
                        Welcome {{ user.username }}!
                    {% else %}
                        Welcome guest!
                    {% endif %}
                </p>
            </div>

            <div class="card-body">
                {% if user.is_authenticated %}
                    <p>Update your profile, add your interests and apply for a job.</p>
                {% else %}
                    <p>Please Signup or Login to continue.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}