{% extends 'base.html' %}

{% block title %}Positions{% endblock %}

{# Add Positions button on navbar #}
{% block positions_add_pos %}
    {# Add Position button visible to staff only #}
    {% if user.is_superuser %}
        <li class="nav-item">
            <a class="nav-link has-tooltip-left" href="{% url 'add_position' %}">Add Position</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 2%">
        <div class="card">
            <div class="card-header">
                <p class="text-center h5">Positions</p>
            </div>

            <div class="card-body">
                <p>Filter Positions based on your interests</p>
                {# Position filter checkboxes #}
                <div style="overflow-y: scroll; height: 30%;width: 25%;
                border: 2px solid #ccc; text-align: right;">
                    {% for interest in user.interests %}
                        <label>{{ interest }}
                            <input type="checkbox" name="filter_positions" value="{{ interest }}"/>
                        </label> <br>
                    {% endfor %}
                </div>
                <br>
                {# Position search input #}
                <input type="text" id="position_search" onkeyup="pos_search_fun()"
                       placeholder="Search positions" title="Type desired position parameters">
                <br><br>
                {# Positions table #}
                <div class="table-responsive" style="text-align: center; max-height:550px;">
                    <table class="table table-striped table-hover" style=" min-width: 800px" id="positions_table">
                        <thead>
                        <tr class="header">
                            <th>Job Title</th>
                            <th>City</th>
                            <th>Salary</th>
                            {# Deletion column is visible if the user is staff #}
                            {% if user.is_staff %}
                                <th>Deletion</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for position in positions %}
                            <tr>
                                <td>{{ position.title }}</td>
                                <td>{{ position.city }}</td>
                                <td>{{ position.salary }}</td>
                                {# Deletion column is visible if the user is staff #}
                                {% if user.is_staff %}
                                    <td>
                                        <form method="post">
                                            {% csrf_token %}
                                            <button type="submit" name="position_id" value="{{ position.id }}">Delete
                                            </button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# Positions table search script. Reference:https://stackoverflow.com/a/51187875 #}
    <script type="text/javascript">
        const pos_search_fun = () => {
            const trs = document.querySelectorAll('#positions_table tr:not(.header)')
            const filter = document.querySelector('#position_search').value
            const regex = new RegExp(filter, 'i')
            const isFoundInTds = td => regex.test(td.innerHTML)
            const isFound = childrenArr => childrenArr.some(isFoundInTds)
            const setTrStyleDisplay = ({style, children}) => {
                style.display = isFound([...children]) ? '' : 'none'
            }
            trs.forEach(setTrStyleDisplay)
        }
    </script>
    {# Positions table filtering script. Reference:https://gist.github.com/githamm/5ab3896276233ba37ed3 #}
    <script type="text/javascript">
        $(function () {
            $('input[type="checkbox"]').change(function () {
                if ($('input[type="checkbox"]:checked').length > 0) {
                    var vals = $('input[type="checkbox"]:checked').map(function () {
                        return this.value;
                    }).get();

                    $('tbody tr')
                        .hide()
                        .filter(function () {
                            return vals.indexOf($(this).find('td:first').text()) > -1;
                        }).show();
                } else {
                    $('tbody tr').show();
                }
            });
        });
    </script>
{% endblock %}