{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{# Edit Profile button on navbar #}
{% block profile_edit_profile %}
    <li class="nav-item">
        <a class="nav-link has-tooltip-left" href="{% url 'edit_profile' %}">Edit Profile</a>
    </li>
{% endblock %}

{# Password reset button on navbar #}
{% block profile_change_pass %}
    <li class="nav-item">
        <a class="nav-link has-tooltip-left" href="{% url 'password_reset' %}">Change Password</a>
    </li>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 2%;">
        <div class="card" style="max-width: 60%">
            <div class="card-header">
                <p class="text-center h5">{{ current_user.username }}</p>
            </div>

            <div class="card-body">
                <table>
                    <tbody>
                    <tr>
                        <td><b>First Name:</b></td>
                        <td>{{ current_user.first_name }}</td>
                    </tr>
                    <tr>
                        <td><b>Last Name:</b></td>
                        <td>{{ current_user.last_name }}</td>
                    </tr>
                    <tr>
                        <td><b>Email:</b></td>
                        <td>{{ current_user.email }}</td>
                    </tr>
                    <tr>
                        <td><b>Date of Birth:</b></td>
                        <td>{{ current_user.date_of_birth }}</td>
                    </tr>
                    <tr>
                        <td><b>Location:</b></td>
                        <td>{{ current_user.location }}</td>
                    </tr>
                    <tr>
                        <td><b>Title:</b></td>
                        <td>{{ current_user.title }}</td>
                    </tr>
                    <tr>
                        <td><b>Interests:</b></td>
                        <td>
                            {% for inter in current_user.interests|default_if_none:'-' %}
                                {{ inter }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div style="display: inline-block; width: 100%; text-align: right; margin-top: 3%">
                    <a href="{% url 'edit_interests' %}">
                        <button>Edit Interests</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}