{% extends "base.html" %}

{% block title %}Profile{% endblock %}


{% block profile_edit_profile %}
    <li class="nav-item">
        <a class="nav-link has-tooltip-left" href="{% url 'edit_profile' %}">Edit Profile</a>
    </li>
{% endblock %}

{# Password reset button on navbar #}
{% block profile_change_pass %}
    <li class="nav-item">
        <a class="nav-link has-tooltip-left" href="{% url 'password_reset' %}">Change Password</a>
    </li>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 2%">
        <div class="card">
            <div class="card-header">
                <p class="text-center h5">
                    {{ current_user.username }}
                </p>
            </div>

            <div class="card-body">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <b>First Name:</b>
                        </td>
                        <td>
                            {{ current_user.first_name }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Last Name:</b>
                        </td>
                        <td>
                            {{ current_user.last_name }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Email:</b>
                        </td>
                        <td>
                            {{ current_user.email }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Date of Birth:</b>
                        </td>
                        <td>
                            {{ current_user.date_of_birth }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Location:</b>
                        </td>
                        <td>
                            {{ current_user.location }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Title:</b>
                        </td>
                        <td>
                            {{ current_user.title }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Interests:</b>
                        </td>
                        <td>
                            {{ current_user.interests }}
                        </td>
                    </tr>
                    </tbody>
                </table>

                {#                <form action="" method="post">#}
                {#                    {% csrf_token %}#}
                {#                    <input type="text" id="job_interest" name="add_interest"#}
                {#                           placeholder="Python Developer"#}
                {#                           title="Add job interests to filter them later on the Positions page">#}
                {#                    <button type="submit">Add</button>#}
                {#                </form>#}
            </div>
        </div>
    </div>
{% endblock %}